.tarif__price {
    font-size: 32px;
    font-weight: 700;
}

.tarif__currency {
    align-self: flex-start;
}

.tarif__text {
    background-color: rgb(234, 239, 239);
    margin: 0;
    padding: 10px;
}

.tarif__speed {
    background-color: azure;
    margin: 0;
    padding: 10px;
}
