.tariff__title {
    background-color: rgb(50, 59, 228);
    margin: 1px;
    padding: 26px;
}

.tariffbox {
    background-color: antiquewhite;
    width: 220px;
    margin: 0;
    padding: 1px;
    box-shadow: 0 0 10px 12px rgb(40, 188, 232);
}

.tariff__pricebox {
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 5px;
    background-color:rgb(50, 59, 228);
    margin: 1px;
}